<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Oh, hi!</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark my-nav-background"
     th:fragment="navbar">


    <div class="container">
        <a class="navbar-brand" href="/">Oh, hi!</a>
        <div class="navbar-nav">
            <a class="nav-link"
               th:classappend="${activePage == 'userlogin'} ? 'active' : ''"
               href="/person/overview">
                <i class="bi bi-people"></i> Overzicht
            </a>
            <form class="nav-link" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-light btn-sm" type="submit">Uitloggen</button>
            </form>
        </div>
    </div>
</nav>
<footer class="footer mt-auto py-3 bg-light"
        th:fragment="footer">
    <div class="container">
                <span class="text-muted">
                    Oh, hi! &mdash; INT-Developers, Hanze Groningen
                </span>
    </div>
</footer>
<div th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (localStorage.getItem("teachersOpen") === "true") {
                const el = document.getElementById("teachers");
                const collapse = new bootstrap.Collapse(el, {
                    toggle: false
                });
                collapse.show();
            }
        });

        function toggleTeachers() {
            const isOpen = localStorage.getItem("teachersOpen") === "true";
            localStorage.setItem("teachersOpen", String(!isOpen));
        }
    </script>
</div>


</body>
</html>