<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Oh, hi!</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark my-nav-background"
     th:fragment="navbar">

    <div class="container">

        <a class="navbar-brand" href="/">Oh, hi!</a>

        <div class="nav nav-underline d-flex align-items-center gap-2">
            <a th:href="@{/cohort/add}" class="nav-link nav-btn"
               sec:authorize="hasAnyRole('DOCENT', 'ADMIN')">
                <i class="bi bi-plus-circle me-1"></i> Cohort
            </a>
            <!-- todo - link to customize user's own profile -->
            <a class="nav-link nav-btn"
               sec:authorize="isAuthenticated()"
               th:classappend="${activePage == 'userlogin'} ? 'active' : ''"
               th:href="@{/person/profile/edit/{id}(id=${#authentication.principal.person.id})}">
                <i class="bi bi-people"></i> Edit Profile
            </a>
            <!-- todo - this should link to the cohort of the user -->
            <a class="nav-link nav-btn"
               sec:authorize="hasAnyRole('DOCENT', 'ADMIN')"
               th:classappend="${activePage == 'userlogin'} ? 'active' : ''"
               href="/person/overview">
                <i class="bi bi-people"></i> Overzicht
            </a>
            <div class="dropdown"
                 sec:authorize="hasAnyRole('DOCENT', 'ADMIN')">
                <button class=" search-bg dropdown-toggle nav-link nav-btn"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Cohorts
                </button>
                <ul class="dropdown-menu">
                    <li th:each="cohort : ${allCohorts}">
                        <a class="dropdown-item"
                           th:href="@{/cohort/{id}(id=${cohort.id})}"
                           th:text="${cohort.cohortNum} + ' - ' + ${cohort.discipline}">
                        </a>
                    </li>
                </ul>
            </div>
            <form class="nav-link nav-btn" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-light btn-sm outlining" type="submit">Uitloggen</button>
            </form>
        </div>
    </div>
</nav>

<div th:fragment="formTitle(title)">
    <div class="container text-center my-4">
        <h1 th:text="${title}"></h1>
    </div>
</div>

<div th:fragment="saveButton">
    <button class="btn btn-primary btn-lg shadow-sm w-100"
            type="submit">
        <i class="bi bi-floppy me-2"></i>Opslaan
    </button>
</div>

<footer class="footer mt-auto py-3 bg-light"
        th:fragment="footer">
    <div class="container">
                <span class="text-muted">
                    Oh, hi! &mdash; INT-Developers, Hanze Groningen
                </span>
    </div>
</footer>
<div th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const teachersDiv = document.getElementById("teachers");
            if (localStorage.getItem("teachersOpen") === "true") {
                teachersDiv.classList.add("show");
                teachersDiv.classList.remove("collapsing");
            }
            teachersDiv.addEventListener("shown.bs.collapse", function () {
                localStorage.setItem("teachersOpen", "true");
            });
            teachersDiv.addEventListener("hidden.bs.collapse", function () {
                localStorage.setItem("teachersOpen", "false");
            });
        });
    </script>
</div>


</body>
</html>