<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="personCard(person, extraClass)">
    <div class="shadow-sm background-content-card p-3 position-relative card-background"
         th:classappend="${(extraClass != null ? extraClass : '') + (person.role.name() == 'TEACHER' ? ' docent-card' : '')}">

        <div th:if="${extraClass != null && extraClass.contains('background-content-card-profile')}"
             class="d-flex flex-column align-items-center text-center w-100 py-3 ">
            <img class="PersonProfile rounded-circle mb-3"
                 th:src="${person.profileImage != null} ? '/images/' + ${person.profileImage.id} : '/static-images/noImage.jpg'"
                 alt="profile image">
            <div class="roleDisplay" th:text="${person.role.displayName}"></div>

            <div class="card-name-style">
                <div class="card-text">
                    <div th:text="${person.firstName}"></div>
                    <br>
                    <div th:text="${person.infix != null && !person.infix.isEmpty()} ? ${person.infix + ' ' + person.lastName} : ${person.lastName}"></div>
                </div>
                <div class="d-flex align-items-center mt-1">
                    <span class="location-text" th:text="${person.location}"></span>
                </div>
            </div>
        </div>

        <div th:if="${extraClass == null || !extraClass.contains('background-content-card-profile')}"
             class="row align-items-center g-0 card-overview-page ">
            <div class="col-auto">
                <img class="PersonProfile rounded-circle"
                     th:src="${person.profileImage != null} ? '/images/' + ${person.profileImage.id} : '/static-images/noImage.jpg'"
                     alt="profile image">
            </div>
            <div class="ProfileLineDivider col-auto mx-3"></div>
            <div class="col card-text card-name-style">
                <div th:text="${person.firstName}"></div>
                <div th:text="${person.infix != null && !person.infix.isEmpty()} ? ${person.infix + ' ' + person.lastName} : ${person.lastName}"></div>
                <div class="roleDisplay" th:text="${person.location}"></div>
            </div>
        </div>

                <div class="position-absolute bottom-0 end-0 p-2"
                     th:if="${extraClass == null || !extraClass.contains('background-content-card-profile')}"
                     sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/person/remove/{id}(id=${person.id})}"
                       class="btn btn-sm text-danger border-0"
                       onclick="return confirm('Weet je zeker?')">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>

    </div>
</div>

<div th:fragment="addPersonCard">
    <div class="shadow-sm background-content-card p-3 position-relative card-background">
        <div class="row align-items-center g-0 card-overview-page ">
            <div class="col-auto">
                <img class="PersonProfile rounded-circle"
                     src="/static-images/noImage.jpg"
                     alt="profile image">
            </div>
            <div class="ProfileLineDivider col-auto mx-1"></div>

            <div class="col">
                <a th:href="@{/person/add}" class="btn shadow-sm fp-btn-colour">
                    <i class="bi bi-plus-circle me-1"></i>Persoon toevoegen
                </a>
            </div>
        </div>
    </div>
</div>
<!--<div th:fragment="addPersonCard">-->
<!--    <a th:href="@{/person/add}" class="btn btn-success shadow-sm search-bg fp-btn-colour">-->
<!--        <i class="bi bi-plus-circle me-1"></i> Persoon-->
<!--    </a>-->
<!--    <div         class="row align-items-center g-0 card-overview-page ">-->
<!--        <div class="col-auto">-->
<!--            <img class="PersonProfile rounded-circle"-->
<!--                 th:src="${person.profileImage != null} ? '/images/' + ${person.profileImage.id} : '/static-images/noImage.jpg'"-->
<!--                 alt="profile image">-->
<!--        </div>-->
<!--        <div class="ProfileLineDivider col-auto mx-3"></div>-->
<!--        <div class="col card-text card-name-style">-->
<!--            <div class="card-text " th:text="${person.fullName}"></div>-->
<!--            <div class="roleDisplay" th:text="${person.location}"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>