* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {

    background-color: #FBFBFB;
    font-family: "Roboto Light";
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.background-color {
    background-color: #f0ECE1;
}

/*navigation bar*/
nav{
    background-image: url("/static-images/navbar.png");
    background-size: cover;      /* schaalt mee */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


.nav-link{
    color: white;
}



/*Deleting member*/
.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
}

/*Button for both add cohort and add member*/
.add-cohort-member-buttons{
    margin: 2% 2% 2% 2%;
    background-color: #C9BEFF;
    width: 20%;
    justify-content: right;
    border-color: #C9BEFF;
    transition: 0.3s;
}

.add-cohort-member-buttons:hover{
    background-color: #FFDBFD;
    border-color: #FFDBFD;
}

/*Cohort lijst opmaak*/
.cohort-dropdown {
    width: 50%;
    margin: 2% 30%
}

.roleDisplay {
    color: mediumpurple;
}


.PersonTable tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0;

}
/*hide the headers of the table*/
.PersonTable thead{
    display:none;
}

.PersonTable td {
    display: block;
    padding: 8px 10px;
}

/*outline table elements*/
.PersonTable th, .PersonTable tr {
    border: 1px solid #C9BEFF;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(201, 190, 255, 0.1);
    box-shadow: 4px 8px 20px #888888;

}

.PersonTable td {
    transition: all 0.2s ease;
}

.PersonTable tr:hover td {
    transform: scale(1.05);
}

.my-nav-background {
    color: white;
}

.ProfilePic{
    height: 400px;
    width: auto;
}
.MiniPic{
    height:200px;
    width:auto;
}
.aboutMeText{
    /*padding: 4px;*/
    box-shadow: 10px 5px 5px lightgray;
    background-color: #e2e2e2;
    min-height: 400px;
    min-width: 500px;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa; /* Of een kleur uit je palet */
    text-align: center;
}