body {
    background-color: #f0ECE1;
}

.background-color {
    background-color: #f0ECE1;
}

.our-button{
    background-color: cornflowerblue;
    margin-top: 30px;
    margin-left: 1300px;
}

.our-button:hover{
    background-color: mediumpurple;
}

.PersonTable tbody {
    display: grid;
    grid-gap: 15px;
    width: 200px;
    grid-auto-rows: minmax(auto, auto);
    grid-template-columns: repeat(4, 1fr);
}
/*hide the headers of the table*/
.PersonTable thead{
    display:none;
}
.PersonTable td {
    display: block;
    padding: 8px 10px;
}
/*outline table elements*/
.PersonTable th, .PersonTable tr {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

/*navigation bar*/
nav{
    background-color: black;

}

.my-nav-background {
    color: white;
}

.ProfilePic{
    height: 400px;
    width: auto;
}
.MiniPic{
    height:200px;
    width:auto;
}
.aboutMeText{
    /*padding: 4px;*/
    box-shadow: 10px 5px 5px lightgray;
    background-color: #e2e2e2;
    min-height: 400px;
    min-width: 500px;
}
