<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{Fragments/general :: baseheader(~{:: title})}">
    <title>Cohort toevoegen/bewerken</title>
</head>
<body>
<nav th:replace="~{Fragments/general :: navbar}"></nav>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card shadow-sm border-0">

                <div class="card-body p-4">

                    <form th:action="@{/cohort/{id}/group-photos}" method="post" enctype="multipart/form-data" th:object="${cohort}">

                        <input type="file" name="file" required>

                        <h3>Select people in this photo:</h3>

                        <div th:each="member : ${people}">
                            <label>
                                <input type="checkbox"
                                       name="personIds"
                                       th:id="${'member_' + member.id}"
                                       th:value="${member.id}">
                                <span th:text="${member.firstName + ' ' + member.lastName}"></span>
                            </label>
                        </div>

                        <p>Total members: <span th:text="${#lists.size(people)}"></span></p>

                        <button type="submit">Upload Group Photo</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>

</body>
</html>