<!DOCTYPE html>
<html lang="en">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Edit AboutMe</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div th:replace="~{fragments/general :: formTitle(
'Profiel bewerken')}">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <form th:action="@{/person/profile/save}"
                          th:object="${person}"
                          method="post"
                          enctype="multipart/form-data">

                        <input type="hidden" th:field="*{id}">

                        <div class="mb-3">
                            <label for="age" class="form-label fw-bold">Geboortedatum</label>
                            <input type="text" id="age"
                                   th:field="*{birthDate}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid'"
                                   placeholder="(dd-mm-jjjj)">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('birthDate')}"
                                 th:errors="*{birthDate}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="pronoun" class="form-label fw-bold">Voornaamwoorden</label>
                            <input type="text" id="pronoun"
                                   th:field="*{pronoun}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('pronoun')} ? 'is-invalid'"
                                   placeholder="Wat zijn je pronouns?">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('pronoun')}"
                                 th:errors="*{pronoun}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="location" class="form-label fw-bold">Woonplaats</label>
                            <input type="text" id="location"
                                   th:field="*{location}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('location')} ? 'is-invalid'"
                                   placeholder="Waar woon je?">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('location')}"
                                 th:errors="*{location}"></div>
                        </div>

                        <div class="mb-3" th:if="${person.getEmployerField()}" >
                            <label for="employer" class="form-label fw-bold">Toekomstig werkgever</label>
                            <input type="text" id="employer"
                                   th:field="*{student.employer}"
                                   class="form-control"
                                   placeholder="Waar ga jij werken?">
                        </div>



                        <div class="mb-3">
                            <label class="form-label fw-bold">Interesses</label>

                            <div class="row p-3">
                                <div th:each="interest : ${allInterests}" class="col-3 form-check mb-1">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           th:field="*{interests}"
                                           th:value="${interest.id}"
                                           th:id="${'interest_' + interest.id}">
                                    <label class="form-check-label ms-2"
                                           th:for="${'interest_' + interest.id}"
                                           th:text="${interest.interest}">
                                        Interesses
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="aboutMe" class="form-label fw-bold">Over mij</label>
                            <textarea
                                    id="aboutMe"
                                    th:field="*{aboutMe}"
                                    class="form-control"
                                    placeholder="Hoe zouden familie en vrienden jou omschrijven?"
                                    rows="4"></textarea>
                        </div>



                        <div class="mb-3">
                            <label for="profileImageFile"
                                   class="form-label fw-bold">Profiel Foto
                            </label>
                            <input type="file"
                                   id="profileImageFile"
                                   name="profileImageFile"
                                   accept="image/*"
                                   class="form-control">
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <div th:replace="~{Fragments/general :: saveButton}"></div>
                            <a th:href="@{/person/{id}(id=${person.id})}"
                               class="btn btn-link text-secondary text-decoration-none text-center">
                                Annuleren
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>