<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div th:replace="~{fragments/flashMessage :: successMessageTeacher}"></div>
<div th:replace="~{fragments/flashMessage :: errorMessage}"></div>


<div class="container text-center">
    <div class="container mt-4">
        <div class="text-center">
            <h1 class="fw-light">Alle personen</h1>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-4 mt-1 g-4 justify-content-center">
            <div class="col" th:each="teacher : ${teachers}">
<!--                 th:if="${person.role.equals(T(nl.miwnn.cohort._9.OHI.Model.Role).TEACHER)}">-->
                <a th:href="@{/person/{id}(id=${teacher.id})}">
                    <div th:replace="~{fragments/person :: personCard(${teacher}, null)}"></div>
                </a>
            </div>
        </div>

        <div class="row row-cols-4 mt-1 g-4">
            <div class="col" th:each="student : ${students}">
<!--                 th:if="${person.role.equals(T(nl.miwnn.cohort._9.OHI.Model.Role).STUDENT)}">-->
                <a th:href="@{/person/{id}(id=${student.id})}">
                    <div th:replace="~{fragments/person :: personCard(${student}, null)}"></div>
                </a>
            </div>
            <div class="col">
                <div th:replace="~{fragments/person :: addPersonCard}"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>