<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<!--<div th:if="${successMessage}"-->
<!--     class="alert alert-success alert-dismissible fade show shadow-sm"-->
<!--     role="alert">-->
<!--    <i class="bi bi-check-circle-fill me-2"></i>-->
<!--    <span th:text="${successMessage}"></span>-->

<!--    <div sec:authorize="hasRole('DOCENT')">-->
<!--        <p>Setup link single person: <span th:text="${setupLink}"></span></p>-->
<!--        <p>Setup link cohort: </p>-->
<!--        <ul>-->
<!--            <li th:each="link : ${setupLinks}">-->
<!--                <span th:text="${link}"></span>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <button type="button"-->
<!--            class="btn-close"-->
<!--            data-bs-dismiss="alert"-->
<!--            aria-label="Close">-->
<!--    </button>-->
<!--</div>-->

<div th:replace="~{fragments/flashMessage :: successMessageTeacher}"></div>
<div th:replace="~{fragments/flashMessage :: errorMessage}"></div>


<div class="container text-center">
    <div class="container mt-4">
        <div class="row align-items-start">
            <div class="col-3" sec:authorize="hasRole('DOCENT')">
                <div class="dropdown">
                    <button class="btn btn-primary shadow-sm search-bg dropdown-toggle fp-btn-colour"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Cohorts
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="cohort : ${allCohorts}">
                            <a class="dropdown-item"
                               th:href="@{/cohort/{id}(id=${cohort.id})}"
                               th:text="|${cohort.cohortNum} ${cohort.discipline}|">
                            </a>
                        </li>
                    </ul>
                    <a th:href="@{/cohort/add}" class="btn btn-success shadow-sm search-bg fp-btn-colour btn-spacing"
                       sec:authorize="hasRole('DOCENT')">
                        <i class="bi bi-plus-circle me-1"></i> Cohort
                    </a>
                    <a th:href="@{/person/add}" class="btn btn-success shadow-sm search-bg fp-btn-colour"
                       sec:authorize="hasRole('DOCENT')">
                        <i class="bi bi-plus-circle me-1"></i> Per
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div>
                <h1 class="fw-light">Alle personen</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-4 mt-1 g-4 justify-content-center">
            <div class="col" th:each="person : ${people}"
                 th:if="${person.userRole.name() == 'TEACHER'}">
                <a th:href="@{/person/{id}(id=${person.id})}"
                   style="cursor: pointer;">
                    <div th:replace="~{fragments/person :: personCard(${person}, null)}"></div>
                </a>
            </div>
        </div>

        <div class="row row-cols-4 mt-1 g-4">
            <div class="col" th:each="person : ${people}"
                 th:if="${person.userRole.name() == 'STUDENT'}">
                <a th:href="@{/person/{id}(id=${person.id})}"
                   style="cursor: pointer;">
                    <div th:replace="~{fragments/person :: personCard(${person}, null)}"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>