<!DOCTYPE html>
<html lang="en">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div th:replace="~{fragments/general :: formTitle(
'Persoon toevoegen')}">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">

                <div class="card-body p-4">
                    <form th:action="@{/person/save}" th:object="${person}"
                          method="post"
                          enctype="multipart/form-data">

                        <label class="form-label fw-bold mb-1">Naam</label>
                        <div class="row g-2 mb-3">
                        <div class="col-4">
                            <label class="visually-hidden" for="firstName">Voornaam</label>
                            <input type="text" id="firstName"
                                   th:field="*{firstName}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"
                                   placeholder="Voornaam">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}"></div>
                        </div>

                        <div class="col-4">
                            <label class="visually-hidden" for="infix">Tussenvoegsel</label>
                            <input type="text" id="infix" th:field="*{infix}"
                                   class="form-control" placeholder="Tussenvoegsel">
                        </div>

                        <div class="col-4">
                            <label class="visually-hidden" for="lastName">Achternaam</label>
                            <input type="text" id="lastName" th:field="*{lastName}"
                                   class="form-control" placeholder="Achternaam">
                        </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold d-block">Rol</label>
                            <div class="card bg-light border-0 shadow-sm rounded">
                                <div class="card-body p-3" style="max-height: 200px; overflow-y: auto;">

                                    <div th:each="role : ${T(nl.miwnn.cohort._9.OHI.Model.Person.Role).values()}">
                                        <label>
                                            <input class="form-check-input"
                                                   type="radio"
                                                   th:field="*{userRole}"
                                                   th:value="${role}"
                                                   th:id="${'role_' + role}">
                                        </label>
                                        <label class="form-check-label ms-2"
                                               th:for="${'role_' + role}"
                                               th:text="${role.displayName}">
                                        </label>
                                    </div>

                                    <input type="hidden" name="_person" value="on"/>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Cohort</label>
                            <select class="form-select" th:field="*{cohort.id}">
                                <option value="">-- Selecteer cohort --</option>
                                <option th:each="cohort : ${allCohorts}"
                                        th:value="${cohort.id}"
                                        th:text="${cohort.cohortNum} + ' - ' + ${cohort.discipline}"
                                <!--                                    th:selected="${person.cohort != null and person.cohort.id == cohort.id}">-->
                                </option>
                            </select>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <div th:replace="~{Fragments/general :: saveButton}"></div>
                            <a href="/person/overview"
                               class="btn btn-link text-secondary text-decoration-none text-center">Annuleren</a>
                        </div>


                        <!--                        <input type="hidden" th:field="*{cohort.id}" id="blogId">-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>