<!DOCTYPE html>
<html lang="en">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Edit AboutMe</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <form th:action="@{/person/profile/save}"
                          th:object="${person}"
                          method="post"
                          enctype="multipart/form-data">

                        <input type="hidden" th:field="*{id}">

                        <div class="mb-3">
                            <label for="age" class="form-label fw-bold">Leeftijd</label>
                            <input type="text" id="age"
                                   th:field="*{age}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('age')} ? 'is-invalid'"
                                   placeholder="leeftijd...">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('age')}"
                                 th:errors="*{age}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="location" class="form-label fw-bold">Woonplaats</label>
                            <input type="text" id="location"
                                   th:field="*{location}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('location')} ? 'is-invalid'"
                                   placeholder="woonplaats">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('location')}"
                                 th:errors="*{location}"></div>
                        </div>

<!--                        <div class="mb-3">-->
<!--                            <label for="employer" class="form-label fw-bold">Toekomstige werknemer</label>-->
<!--                            <input type="text" id="employer"-->
<!--                                   th:field="*{student.employer}"-->
<!--                                   class="form-control"-->
<!--                                   placeholder="Werknemer">-->
<!--                        </div>-->

                        <div class="mb-3">
                            <label for="pronoun" class="form-label fw-bold">Voornaamwoorden</label>
                            <input type="text" id="pronoun"
                                   th:field="*{pronoun}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('pronoun')} ? 'is-invalid'"
                                   placeholder="Hoe je wordt aangesproken:">

                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('pronoun')}"
                                 th:errors="*{pronoun}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="aboutMe" class="form-label fw-bold">About Me</label>
                            <textarea
                                    id="aboutMe"
                                    th:field="*{aboutMe}"
                                    class="form-control"
                                    placeholder="About Me"
                                    rows="4"></textarea>
                        </div>



                        <div class="mb-3">
                            <label for="imageFile"
                                   class="form-label fw-bold">Profiel Foto
                            </label>
                            <input type="file"
                                   id="imageFile"
                                   name="imageFile"
                                   accept="image/*"
                                   class="form-control">
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-primary btn-lg shadow-sm"
                                    type="submit">
                                <i class="bi bi-save"></i> Save Info
                            </button>

                            <a th:href="@{/person/{id}(id=${person.id})}"
                               class="btn btn-link text-secondary text-decoration-none text-center">
                                Annuleren
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>