<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show shadow-sm" role="alert">
    <i class="bi bi-check-circle-fill me-2"></i> <span th:text="${successMessage}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show shadow-sm" role="alert">
    <i class="bi bi-trash-fill me-2"></i> <span th:text="${errorMessage}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <label for="dropDownList"></label>
            <select th:field="${allCohorts}" class="form-select cohort-dropdown" multiple="multiple" id="dropDownList" sec:authorize="hasRole('DOCENT')">
                <option value="0" style="font-style: italic">Cohorts</option>
                <option th:each="cohort : ${allCohorts}" th:value="${cohort.id}"
                        th:text="|${cohort.id} ${cohort.discipline}|"></option>
            </select>

        </div>
    </div>
    <div class="col">
        <a th:href="@{/cohort/add}" class="btn btn-success shadow-sm search-bg add-cohort-member-buttons" sec:authorize="hasRole('DOCENT')" style="margin-left: 50%">
            <i class="bi bi-plus-circle me-1"></i> Cohort
        </a>

        <a th:href="@{/profiles/add}" class="btn btn-success shadow-sm search-bg add-cohort-member-buttons" sec:authorize="hasRole('DOCENT')">
            <i class="bi bi-plus-circle me-1"></i> Lid
        </a>
    </div>
</div>







<table class="PersonTable">
    <thead>
    <tr>
        <th>Image</th>
        <th>Full name</th>
        <th>Role</th>
        <th>Delete Person</th>
    </tr>
    </thead>
<tbody>

<tr th:each="person : ${people}" th:onclick="|window.location='@{/profiles/{id}(id=${person.id})}'|"
    style="cursor: pointer;">
    <td class = "PersonImageHolder"><img class="MiniPic" th:if="${person.image != null}"
                                          th:src="@{/static-images/{id}(id=${person.image.id})}"
                                          th:alt="${person.id}">
    </td>
    <td  class="PersonImageHolder">
        <img class="MiniPic" th:unless="${person.image != null}"
                                th:src="@{/static-images/teaspoon-steel-isolated-picture-id520537085.jpg}"
             alt="picture of a spoon"></td>
    <td th:text="${person.fullName}">First Name</td>
    <td th:text="${person.userRole.displayName}" class="roleDisplay">Role</td>

    <td class="d-grid gap-2 d-flex justify-content-between border-top pt-3 ">
        <a th:href="@{/profiles/remove/{id}(id=${person.id})}"
           class="btn btn-sm btn-outline-danger delete-button"
           onclick="return confirm('Weet je zeker dat je deze persoon wilt verwijderen?')" sec:authorize="hasRole('DOCENT')">
            <i class="bi bi-trash"></i>
        </a>
    </td>

    </tr>
    </tbody>
</table>
<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>