<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">

    <title>About me</title>
</head>
<body class="bg-light">

<nav th:replace="~{Fragments/general :: navbar}"></nav>

<div class="container mt-4">

    <!--    kolom wordt hoger obv breedte card/col-x, row wordt groter obv van colommen, about me resized mee-->
    <div class="row mb-4">
        <div class="col-3">
            <div th:replace="~{fragments/person :: personCard(${person}, 'background-content-card-profile')}"></div>
        </div>

        <div class="col-5">
            <div class="aboutMeText">
                <div class="col mx-auto">
                    <h5 class="aboutMeHeader">Naam</h5>
                    <p class="aboutMeContent" th:text="${person.fullName}"></p>
                </div>

                <div class="col mx-auto white-background">
                    <h5 class="aboutMeHeader">Woonplaats</h5>
                    <p class="aboutMeContent" th:text="${location}"></p>
                </div>
                <div class="col mx-auto">
                    <h5 class="aboutMeHeader">Leeftijd</h5>
                    <p class="aboutMeContent" th:text="${age}"></p>
                </div>
            </div>
        </div>

        <div class="col-4">


            <div class="col mx-auto">
                <h5 class="aboutMeHeader">Voornaamwoorden</h5>
                <p class="aboutMeContent" th:text="${pronoun}"></p>
            </div>
            <div class="col mx-auto">
                <h5 class=" aboutMeHeader">Over mij</h5>
                <p class="aboutMeContent" th:text="${aboutMe}"></p>
            </div>
        </div>

            <div th:if="${successMessage}" class="alert alert-success mt-3"
                 th:text="${successMessage}">
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger mt-3"
                 th:text="${errorMessage}">
            </div>
        </div>
    </div>

    <div>
        <a th:href="@{/person/profile/edit/{id}(id=${person.id})}"
           class="btn btn-success shadow-sm search-bg fp-btn-colour fp-btn-content"
           sec:authorize="hasRole('STUDENT')">
            <i class="bi bi-gear me-1"></i> Profiel bewerken
        </a>
    </div>
</div>
    <footer th:replace="~{Fragments/general :: footer}"></footer>
    <div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>