<!DOCTYPE html>
<html lang="en">
<head th:replace="~{Fragments/general :: baseheader(~{:: title})}">
    <title>Welkom</title>
</head>
<body class="loginBackground">
<nav th:replace="~{Fragments/general :: navbar}"></nav>

<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-7 loginTextBackground">
            <div class="loginTextContent">
                <h1 class="headerLogin">Oh hi, gebruiker!</h1>
                <p class="loginTextStyle">
                    Jouw cohort, op één plek. Bekijk je medestudenten en docenten, ontdek wie je
                    klasgenoten zijn en zet jezelf op de kaart. Want een gezicht bij een naam maakt
                    alles net wat makkelijker.
                </p>
                <div class="d-flex gap-3">
                    <img th:src="@{/static-images/danny.jpg}" class="circleImage" alt="foto1">
                    <img th:src="@{/static-images/lisa.jpg}" class="circleImage" alt="foto2">
                    <img th:src="@{/static-images/johnny.jpg}" class="circleImage" alt="foto3">
                </div>
            </div>
        </div> <!-- ✅ col-7 gesloten -->

        <div class="col-5 loginForm">
                    <div class="text-center">
                        <h1>Login</h1>
                    </div>
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>

                    <form th:action="@{/userlogin}" method="post">
                        <div class="">
                            <label for="username" class="form-label"></label>
                            <input type="text" class="form-control d-block" id="username" name="username"
                                   placeholder="Gebruikersnaam"/>
                        </div>
                        <div>
                            <label for="password" class="form-label"></label>
                            <input type="password" class="form-control d-block" id="password" name="password"
                                   placeholder="Wachtwoord"/>
                        </div>
                        <div class="">
                            <label for="submitbtn" class=""></label>
                            <input type="submit" id="submitbtn" class="btn btn-primary form-control d-block" value="Log in"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>


<footer th:replace="~{Fragments/general :: footer}"></footer>
<div th:replace="~{Fragments/general :: scripts}"></div>
</body>
</html>